.tabs {
	--tabsBodyRowGap: 0;
	--tabsNonActiveContentDisplay: none;

	&--enable-only-on-mobile {
		@include mobile-above {
			--tabsNonActiveContentDisplay: block; // Таким образом, если мы передали компоненту табов параметр isEnableOnlyOnMobile, мы актвириуем класическую механику компонента табов только на ширине экранов 767 и уже, а на desktop будет обычным блоком без сторонних стилей.
			--tabsNavigationDisplay: none;
		}
	}

	&__body {
		display: grid;
		row-gap: var(--tabsBodyRowGap);
	}

	&__content {
		&:not(.is-active) {
			display: var(--tabsNonActiveContentDisplay);
		}
	}
}