.tabs-navigation {
	--tabsActiveButtonWidth: 0;
	--activeButtonOffsetLeft: 0;
	--tabsNavigationPadding: #{fluid-to-laptop(10, 8)};

	position: relative;
	display: var(--tabsNavigationDisplay, flex); // Как это будет работать: если браузер обнаружит переменную tabsNavigationDisplay для tabsNavigation, то применит для этого свойства значение, указанное в переменной. Иначе flex.
	padding: fluid-to-laptop(10, 8);
	border: var(--border);
	border-radius: var(--border-radius-m);

	@include laptop {
		border-radius: var(--border-radius-s);
	}

	&::before {
		content: '';
		position: absolute;
		top: var(--tabsNavigationPadding);
		left: 0;
		width: var(--tabsActiveButtonWidth);
		height: calc(100% - var(--tabsNavigationPadding) * 2); // Высота родительского блока - вертикальные внутренние отступы
		background-color: var(--color-black-12);
		border-radius: var(--border-radius-m);
		transition-duration: var(--transition-duration);
		translate: var(--activeButtonOffsetLeft);

		@include laptop {
			border-radius: var(--border-radius-xs);
		}
	}

	&__button {
		position: relative; // Чтобы псевдоэлемент (подлжожка с серым фоном) не перекрывал содержимое текстовое у кнопок.
		padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
		border-radius: var(--border-radius-m);
		transition-duration: var(--transition-duration);
		cursor: pointer;
		user-select: none;

		@include laptop {
			border-radius: var(--border-radius-xs);
		}

		@include hover {
			color: var(--color-white);
		}

		&.is-active {
			color: var(--color-white);
			pointer-events: none;
		}

		/*
			Про серый фон на активной кнопке.
			Для всего элемента tabs-navigation добавим псевдоэлемент before с серым фоном,
			который разместим абсолютом и будем при переключении табов через задавать ему ширину как у активной кнопки.
			Еще этот элемент будет смещен по оси X относительно всего контейнера на такое же расстояние, на которое смещена активная кнопка.
			Таким образом, у нас получится необычный эффект плавающего фона.
		*/
	}
}